* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  width: 600px;
  height: 400px;
  border: 1px solid green;
  align-items: center;
  justify-content: center;
}

.box {
  width: 32px;
  height: 32px;
  background: red;
  border: 1px solid black;
}
